# Test results

## Specific Stone and Stone tests

- All tests passed successfully.

## Inventory tests

- All tests passed successfully.

## Scroll tests

- All tests passed succesfully.

## Finder tests
- All tests passed successfully.

## Player tests

- Finish constructor
- Need to add error checking for moving
- Write kickBackPlayer function (note - function in map changed to willPurpleStoneKickBack(), so no arguments)